@import "~@fortawesome/fontawesome-free/css/all.css";
/*https://fontawesome.com/how-to-use/on-the-web/setup/using-package-managers */
/*https://stackoverflow.com/questions/52455614/install-font-awesome-5-with-npm*/

html {
    scroll-behavior: smooth;
}
.yearButton:hover{
    width: 200px;
    transition: 1s;
}

/*https://stackoverflow.com/questions/44484907/index-css-vs-app-css-in-default-app-created-by-create-react-app-whats-the*/
#articlePageBody {
    margin-top: 10px;
}
#articlePageComments {
    margin-top: 10px;
    font-size: 12px;
}